/*576*/
.background{
    height: 630px;
    background-image: url(../img/tr.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}




.containner-nomber{
    width: 356px;
}

.containner-nomber i {

    font-size: 24px;

}


.nomber{
    width: 25px;
    height: 40px;
    border: 3px solid;
    border-image-source: linear-gradient(-45deg, #fc1ba6, #4094f6);
    border-image-slice:1 ;

    
      
}

.tho-my-mojem{
    width: 356px;
}

.image{
    width: 356px;
}

.containner-nomber p{
    font-size: 16px;
}

.containner-nomber a{
    font-size: 16px;
}

.nathi-work h3{
    font-size: 20px;
}


.authorization{
    right: 40px;
    top: 50px;
    width: 300px;
    height: 340px;
}

.authorization input{
    width: 250px;
}

.input1{
    top: 150px;
}

.input2{
    top: 200px;
}

.authorization button{
    width: 250px;
    height: 40px;
    top: 260px;
    font-size: 16px;
}

.authorization button:hover{
    font-size: 18px;
}

.authorization h3{
    font-size: 20px;
    top: 20px;
}

.authorization p{
    top: 100px;
    font-size: 16px;
}



.niz-ssilci .ds{
    text-align: center;
    width: 150px; 
    font-size: 16px;
}

.niz-ssilci .as {
    width: 70px;
    text-align: center;
    font-size: 16px;
}

.niz-ssilci p {
text-align: center;
font-size: 16px;
}

.logo-niz h1{
    font-size: 40px;
    text-align: center;
}